*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: left;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #ecf0f1;
}

.container {
    max-width: 450px;
    margin: auto;
}

.song {
    background-color: #3498db;
    width: 100%;
    
}


.song h1 {
    margin-top: 0;
}

.lyrics p {
    margin: 0;
}

footer > p, footer > p a {
    color: #f1c40f;
    margin-bottom: 0;
}

footer > p a:hover {
    color: #c0392b;
    transition: 1s all;
}